<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/mapambo.css">
</head>
<body>
<h1>This is our first heading</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Adipisci amet, cupiditate delectus dolorem
    facere fugiat id laudantium,
    maiores minus nisi obcaecati provident quibusdam saepe?
    Delectus id natus nisi pariatur voluptas.</p>
<form action="">
    <label for="">Name</label>
<input type="text" name="fname" placeholder="Enter Your Name" required><br>
<label for="Email">Email</label>
<input type="email" name="email" placeholder="Enter Your Email" required><BR>
<label for="">Id Number</label>
<input type="number" name="id" placeholder="Input Your ID Number" disabled><br>
<label for="">Gender</label><br>
<input type="radio" name="gender">Male <br>
<input type="radio" name="gender">Femele <br>

<label for="">Password</label>
<input type="password" name="pass" placeholder="Enter Your Password"> <br>
<input type="submit" name="submit" value="Submit">
</form>
</body>
</html>